:root {
  --color-error: red;
  --color-white: #fff;
  --color-primary: #c9272f;
  --color-main: #333; // 文本主色
  --color-sub: #666; // 文本浅色
  --color-gray: #999; // 文本浅色
  --family-number-heavy: 'Arial-BoldMT', 'Arial';
  --family-number: 'Arial';
  --family: 'PingFangSC-Regular', '微软雅黑';
  --family-medium: 'PingFangSC-Medium', '微软雅黑';
}
